<div class="text-center">
<br>
<h3>{{vm.title}}</h3>
<hr>
<input type="text" placeholder="Poll Question" ng-model="vm.poll.name" class="form-control">
<hr>
<input type="text" ng-model="vm.poll.options[$index].name" placeholder="Add Option" ng-repeat="option in vm.poll.options" >
<hr>
<button type="button" class="btn btn-primary" ng-click="vm.addOption()">Add Option</button>
<br>
<br>
  <button type="button" class="btn btn-success" ng-click="vm.addPoll()" ng-disabled="!vm.poll.name">Post Poll</button>
</div>
<hr>
<br>
<h4>Polls Posted</h4>
<ul>
  <li ng-repeat="poll in vm.polls">{{poll.name}} -- {{poll._id}}</li>
</ul>
