<div class="text-center">
    <br>
    <h3>{{vm.title}}</h3>
    <hr>
    <div class="add" ng-if="vm.isLoggedIn() === true">
    <input type="text" ng-model="vm.poll.name" class="form-control" placeholder="Poll Name">
    <br>
    <input type="text" ng-model="vm.poll.options[$index].name" placeholder="Poll Options" ng-repeat="poll in vm.poll.options track by $index" style="margin-bottom:10px">
    <br>
    <button ng-click="vm.addOption()" class="btn btn-primary" ng-hide="vm.poll.options.length === 5">Add Poll Option</button>
    <br>
    <br>
    <button ng-click="vm.addPoll()" class="btn btn-success">Add Poll</button>
    </div>
</div>
<hr>
<ul>
    <li ng-repeat="poll in vm.polls">
       <a href="/poll/{{poll._id}}">
        {{poll.name}}
       </a>
    </li>
</ul>
